<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tempazurefunc2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bfb1e34e-6f36-4d97-b662-e2296167e562/resourceGroups/tempresourcegroup/providers/Microsoft.Web/sites/tempazurefunc2</ResourceId>
    <UserName>$tempazurefunc2</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tempazurefunc2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>